<?php

$srcDirectory    = __DIR__.'/../src';
$vendorDirectory = $srcDirectory.'/vendor';

require_once $vendorDirectory.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Fixtures'                  => array($srcDirectory, __DIR__),
    'Doctrine\\Common'          => $vendorDirectory.'/doctrine-common/lib',
    'Doctrine\\DBAL'            => $vendorDirectory.'/doctrine-dbal/lib',
    'Doctrine\\ORM'             => $vendorDirectory.'/doctrine-orm/lib',
    'Doctrine\\MongoDB'         => $vendorDirectory.'/doctrine-mongodb/lib',
    'Doctrine\\ODM\MongoDB'     => $vendorDirectory.'/doctrine-mongodb-odm/lib',
));
$loader->register();
